<footer class="text-white about-footer">
    <div class="container-fluid">
        <section class="footer-1">
            <div class="row">
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0 p-4 text-center">
                    <div class="footer-logo">
                        <img src="~/images/logo-moonLıfe.jpeg"
                             alt="My Golden Food Logo"
                             class="footer-img img-fluid rounded"
                             loading="lazy"> <!-- Lazy Loading -->
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0 p-4">
                    <h5 class="text-uppercase">Adres</h5>
                    <p>MY GOLDEN FOOD GIDA SAN.TİC A.Ş. Türkiye/Ankara</p>
                    <div class="mb-4">
                        <a class="btn btn-dark btn-floating m-1" href="#" target="_blank" role="button" rel="noopener noreferrer">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a class="btn btn-dark btn-floating m-1" href="#" target="_blank" role="button" rel="noopener noreferrer">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a class="btn btn-dark btn-floating m-1" href="#" target="_blank" role="button" rel="noopener noreferrer">
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                        <a class="btn btn-dark btn-floating m-1" href="#" target="_blank" role="button" rel="noopener noreferrer">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0 p-4">
                    <h5 class="text-uppercase">İletişim</h5>
                    <ul class="list-unstyled mb-0">
                        <li>
                            <a href="#" class="text-white">Gökhan GÖKDEMİR</a>
                        </li>
                        <li>
                            <a href="tel:+90 533 635 24 58" class="text-white">T: +90 533 635 24 58</a>
                        </li>
                        <li>
                            <a href="mailto:mygoldenfood@mygoldenfood.com" class="text-white">mygoldenfood@mygoldenfood.com</a>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
    </div>
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2024 Copyright
        <a class="text-white" href="https://mygoldenfood.com">My Golden Food</a>
    </div>
</footer>
