<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mygoldenfood Gıda Dondurulmuş</title>
    <meta name="keywords" content="">
    <meta name="description" content='My Golden Food Resmi Web Sayfası. Dondurulmuş Gıdalar ' />
    <link rel="alternate" hreflang="tr" href="https://mygoldenfood.com.tr" />
    <link rel="canonical" href="https://mygoldenfood.com.tr/" />
    <link rel="icon" href="~/images/cropped-favicon-1-192x192.png" sizes="192x192" />
    <link rel="apple-touch-icon" href="~/images/cropped-favicon-1-180x180.png" />
    <meta name="msapplication-TileImage" content="~/images/cropped-favicon-1-270x270.png" />
    <link rel="stylesheet" href="~/css/style.css">

    @* <script type="text/javascript" src="https://formget.app/code/m31g6do-yohbonf-pdlnc2g.js" defer></script> *@
</head>