<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Golden Food - Dondurulmuş Gıda Sektöründe Kalite</title>
    <meta name="description" content="My Golden Food, dondurulmuş gıda sektöründe kaliteli ve güvenilir ürünler sunar.">
    <meta name="keywords" content="dondurulmuş gıda, my golden food, kaliteli gıda, güvenilir ürünler">
    <meta name="author" content="My Golden Food">
    <meta property="og:title" content="My Golden Food - Dondurulmuş Gıda">
    <meta property="og:description" content="Dondurulmuş gıda sektöründe kaliteli ve lezzetli ürünler.">
    <meta property="og:image" content="~/images/mygoldenfood-logo.png">
    <meta property="og:url" content="https://mygoldenfood.com">
    <link rel="canonical" href="https://mygoldenfood.com">
    <link rel="icon" href="~/images/mygoldenfood-logo.png">
    <link rel="stylesheet" href="~/css/style.css">

</head>
