<!DOCTYPE html>
<html lang="en">
<head>
    @Html.Partial("_HeaderPartial")
    <style>
        /* Sayfa düzeni için flexbox */
        html, body {
            margin: 0;
            padding: 0;
            height: 100%;
            display: flex;
            flex-direction: column;
        }

        /* İçerik alanı */
        .content {
            flex: 1; /* Sayfa içeriği alanını genişletir */
        }

        /* Footer düzeni */
        footer {
            background-color: #000;
            color: white;
            padding: 20px 0;
            text-align: center;
        }

        .footer-img {
            max-width: 150px; /* Görselin genişliği */
            margin-top: 10px;
        }
    </style>
</head>
<body>
    <!-- Navbar -->
    @Html.Partial("_NavbarPartial")

    <!-- Sayfa İçeriği -->
    <div class="content">
        @RenderBody()
    </div>

    <!-- Footer -->
    @Html.Partial("_FooterPartial")

    <script src="~/js/jquery-3.5.1.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/all.min.js"></script>
    <script src="~/js/theme.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
