<nav class="navbar navbar-expand-md navbar-dark fixed-top main-menu">
    <a class="navbar-brand" href="https://mygoldenfood.com/">
        <img src="~/images/mygoldenfood-logo.png" width="150px" alt="My Golden Food logo">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link" href="https://mygoldenfood.com/">Anasayfa</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Kurumsal
                </a>
                <div class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#hakkimizda">Hakkımızda</a>

                </div>
            </li>
            <li class="dropdown menu-large nav-item">
                <a onClick="parent.location='#urunler'" href="" class="dropdown-toggle nav-link megamenu-toggle" data-toggle="dropdown">Ürünler </a>
                <ul class="dropdown-menu megamenu dropdown-menu-dark">
                    <div class="row">
                    <li class="col-md-3 dropdown-item">
                        <a href="#">Dondurulmuş Gıdalar</a>
                    </li>
    </div>

    </ul>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="#iletisim">İletişim</a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="#"> </a>
    </li>
    </ul>
    </div>
</nav>