<nav class="navbar navbar-expand-md navbar-dark fixed-top main-menu">
    <a class="navbar-brand" href="https://mygoldenfood.com/">
        <img src="~/images/mygoldenfood-logo.png"
             width="150px"
             alt="My Golden Food logo"
             loading="lazy"> <!-- Lazy Loading -->
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/Home/Index">Anasayfa</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Kurumsal
                </a>
                <div class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/Home/About">Hakkımızda</a>
                </div>
            </li>
            <!-- "Tüm Ürünler" Linki -->
            <li class="nav-item">
                <a href="/Home/Products" class="nav-link">Tüm Ürünler</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#iletisim">İletişim</a>
            </li>
        </ul>
    </div>
</nav>
