@{
    ViewData["Title"] = "Hakkımızda";
    Layout = "_Layout";
}


<section class="container-fluid p-0 position-relative">
    <!-- Harita Alanı -->
    <div class="w-100" style="margin-top: -150px; z-index: -1; position: relative;">
        <div class="map-container w-100">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d138524.98741767602!2d32.66520231636404!3d39.89666169506215!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14d347d520732db1%3A0xbdc57b0c0842b8d!2sAnkara!5e0!3m2!1str!2str!4v1734474761513!5m2!1str!2str"
                    width="100%"
                    height="1200"
                    style="border:0;"
                    allowfullscreen=""
                    loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade">
            </iframe>
        </div>
    </div>
</section>

<!-- Metin Alanı -->
<section class="container mt-5">
    <h2 class="text-center mb-4">Biz Kimiz?</h2>
    <div class="row justify-content-center">
        <div class="col-md-8 text-center">
            <p>
                My Golden Food, dondurulmuş gıda sektöründe kaliteli ve lezzetli ürünler sunan bir markadır.
                Müşterilerimize en iyi hizmeti sağlamak için sürekli yenilikçi çözümler üretmekteyiz.
            </p>
            <p>
                Vizyonumuz, dünya çapında lezzetimizi tanıtmak ve sürdürülebilir üretim anlayışı ile herkese sağlıklı ve lezzetli ürünler sunmaktır.
            </p>
        </div>
    </div>
</section>
