 



    <div id="index" class="capa">
        <span class="ro-text"><img src="~/images/paylasilamayan-lezzet.png"></span>
        <span class="fixed-icon"><a href="#urunler"><img src="~/images/ok.png"></a></span>
    </div>




<section class="section-1">
        <div class="metin-1 animate__animated animate__fadeInDown animate__slow animate__delay-1s">
            <p>SİTEMİZ</p>
            <p>YAPIM</p>
            <p>AŞAMASINDADIR</p>
        </div>

        <div class="kahve-1 animate__animated animate__fadeInUp animate__slow">
            <img src="~/images/ice-berry.png" alt="">
        </div>
        <div class="yaprak-1 animate__animated animate__fadeInDown animate__slow">
        <img src="~/images/img-berry.png" alt="">
        </div>
        <div class="pasta-1 animate__animated animate__rotateIn animate__slow">
            <img src="~/images/tabak-resim.png" alt="">
        </div>
        <div class="pasta-2 animate__animated animate__fadeInDown animate__slow">
            <img src="~/images/frozen-food.png" alt="">
        </div>
        <div class="pasta-3 animate__animated animate__fadeInUp animate__slow">
            <img src="~/images/gul-img3.png" alt="">
        </div>
        <div class="pasta-4">
            <img src="~/images/bogurtlen.jpg" alt="">
        </div>
        <div class="pasta-5 animate__animated animate__rotateIn animate__slow">
            <img src="~/images/mygoldenfoodimg.jpeg" alt="">
        </div>
    </section>

<section class="section-2">
    <div class="space-holder">
        <div class="sticky">
            <div class="horizontal-section">
                <section role="feed" class="slide-section">
                    <article id="slide-1" class="slide">
                        <img class="kup" src="~/images/bogurtlen-2.png">
                        <span class="kup-baslik">Böğürtlen</span>
                        <span class="kup-icerik"></span>
@*                         <span class="kup-icon"><img src="~/images/maun-ok-ikon.png"></span> *@
                       @*  <div class="kup-derece derece"><span>-40</span></div> *@
                        <div class="yaprak1 yaprak-img"><img src="~/images/ahududu-1.png"></div>
                        <div class="yaprak2 yaprak-img"><img src="~/images/ahududu-1.png"></div>
                    </article>
                    <article id="slide-2" class="slide">
                        <img class="kup" src="~/images/strawberry-1.png">
                        <span class="kup-baslik">Çilek</span>
                   @*      <span class="kup-icerik">Red</span> *@
               @*          <span class="kup-icon"><img src="~/images/maun-ok-ikon.png"></span> *@
@*                         <div class="kup-derece derece"><span>-40</span></div> *@
                    </article>
                </section>
            </div>
        </div>
    </div>
</section>

<section class="section-3">
    <div class="metin-2 animate__animated">
        <p>MAUN IS</p>
        <p>NEW FACE OF WARMTH</p>
    </div>
    <div class="catal-bicak animate__animated">
        <img src="~/images/catal-bicak.png" alt="">
    </div>
    <div class="baton-simit-2 animate__animated">
        <img src="~/images/baton-bogurtlen.png" alt="">
    </div>
</section>

<section class="section-4">
    <div class="metin-3">
        <p>MOON LİFE</p>
        <p>İCE LİVE</p>
    </div>
    <div class="pasta-1">
        <div class="pasta"><img src="~/images/img-67.png" alt=""></div>
        <div class="baslik">
            <p>Çilek</p>
            <p>Ahududu</p>
            <p>Böğürtlen</p>
            <p>Yaban mersini</p>
        </div>
        <div class="pasta-derece">
            @* <div class="derece"><span>-40</span></div> *@
        </div>
    </div>
    <div class="pasta-2">
        <div class="pasta"><img src="~/images/img-63.png" alt=""></div>
        <div class="baslik">
            <p>Limonlu Tart</p>
            <p>Ahududu ve Böğürtlen</p>
        </div>
        <div class="pasta-derece">
            @* <div class="derece"><span>-40</span></div> *@
        </div>
    </div>
    <div class="pasta-3">
        <div class="pasta"><img src="~/images/img17.png" alt=""></div>
        <div class="baslik">
            <p>LEZZET</p>
        </div>
        <div class="pasta-derece">
            @* <div class="derece"><span>-40</span></div> *@
        </div>
    </div>
    <div class="metin-4">
        <p>TAZE</p>
        <p>KULLANIŞLI</p>
        <p>GÜVENİLİR</p>
    </div>
</section>

<section id="urunler" class="section-5">
    <div class="space-holder">
        <div class="sticky">
            <div class="horizontal">

                <section role="feed" class="cards">
                    <article class="sample-card">
                        <h2>DONDURULMUŞ TAZELİĞİN EN İYİSİ</h2>
                        <div class="kategori-gorsel">
                            <img src="~/images/img-1.jpeg" width="250" alt="DONDURULMUŞ TAZELİĞİN EN İYİSİ">
                        </div>
                        <div class="kategori-urunler">
                            <ul>
                                <li>Taptaze toplanmış, doğrudan dondurulmuş.</li>
                                <li>Yüksek besin değeriyle her mevsim elinizin altında</li>
                                <li>Tatlılar ve içecekler için mükemmel seçim.</li>
                                <li>En taze haliyle doğadan sofralarınıza.</li>
                                <li>Her Lokmada Doğanın Tazeliği!</li>
                            </ul>
                        </div>
                    </article>
                    <article class="sample-card">
                        <h2>Meyvelerle Mini Tart Keyfi</h2>
                        <div class="kategori-gorsel">
                            <img src="~/images/img-2.jpeg" width="250" alt="Meyvelerle Mini Tart Keyfi">
                        </div>
                        <div class="kategori-urunler">
                            <ul>
                                <li>Tamamen taze toplanmış ve hızlıca dondurularak lezzeti korunmuş meyveler.</li>
                                <li>Ahududu, böğürtlen ve yaban mersiniyle süslenmiş eşsiz mini tartlar.</li>
                                <li>Dondurulmuş meyveler, her zaman taze bir sunum sağlar.</li>
                                <li>Tatlı yapımında dondurulmuş meyvelerin pratikliğini keşfedin.</li>

                            </ul>
                        </div>
                    </article>
                    <article class="sample-card">
                        <h2>Dondurulmuş Meyve Tepeli Mini Pastalar</h2>
                        <div class="kategori-gorsel">
                            <img src="~/images/img-11.jpeg" width="250" alt="Dondurulmuş Meyve Tepeli Mini Pastalar">
                        </div>
                        <div class="kategori-urunler">
                            <ul>
                                <li>Yaban mersini, böğürtlen ve ahududu gibi meyveler tazeliğini dondurularak korur.</li>
                                <li>Bu pratik ürünler, tatlı hazırlıklarında hem kolaylık hem de görsellik sunar.</li>
                                <li>Hızlıca çözdürülerek şık sunumlar için mükemmel bir tamamlayıcıdır.</li>
                                <li>Dondurulmuş meyvelerle tatlı yapımında fark yaratabilirsiniz.</li>
                   
                            </ul>
                        </div>
                    </article>
                    <article class="sample-card">
                        <h2>Dondurulmuş Meyvelerle Limonlu Kek</h2>
                        <div class="kategori-gorsel">
                            <img src="~/images/img-7.jpeg" width="250" alt="Dondurulmuş Meyvelerle Limonlu Kek">
                        </div>
                        <div class="kategori-urunler">
                            <ul>
                                <li>Limonlu kekin ferahlatıcı tadını dondurulmuş meyvelerle tamamlayın.</li>
                                <li>Dondurulmuş çilek, ahududu ve böğürtlenle her zaman hazır bir sunum yapabilirsiniz.</li>
                                <li>Dondurulmuş ürünler, hem pratik hem de her mevsim kullanılabilir.</li>
                                <li>Tatlılarınıza canlı renkler ve zengin bir aroma katar.</li>
                            </ul>
                        </div>
                    </article>
                    <article class="sample-card">
                        <h2>Dondurulmuş Meyveyle Zenginleştirilmiş Ekler</h2>
                        <div class="kategori-gorsel">
                            <img src="~/images/img-14.jpeg" width="250" alt="Dondurulmuş Meyveyle Zenginleştirilmiş Ekler">
                        </div>
                        <div class="kategori-urunler">
                            <ul>
                                <li>Kremalı eklerlerin üzerinde dondurulmuş ahududu ve yaban mersini.</li>
                                <li>Tatlıların lezzetini artıran ve tazeliğini koruyan meyve seçenekleri.</li>
                                <li>Hızlı çözdürme özelliği sayesinde pratik sunumlar yapabilirsiniz.</li>
                                <li>Her zaman elinizin altında bulunabilecek bu ürünlerle zamanı verimli kullanın.</li>
                            </ul>
                        </div>
                    </article>
                    <article class="sample-card">
                        <h2>Dondurulmuş Meyvelerle Çikolata Pastası</h2>
                        <div class="kategori-gorsel">
                            <img src="~/images/img-68.png" width="250" alt="Dondurulmuş Meyvelerle Çikolata Pastası">
                        </div>
                        <div class="kategori-urunler">
                            <ul>
                                <li>Çikolata pastanızın üzerinde taptaze görünen dondurulmuş meyveler.</li>
                                <li>Böğürtlen, çilek, yaban mersini ve ahududu, lezzeti zirveye taşır.</li>
                                <li>Dondurulmuş gıdalarla her zaman mevsiminde meyve kullanabilirsiniz.</li>
                            </ul>
                        </div>
                    </article>
                    <article class="sample-card">
                        <h2>Dondurulmuş Meyvelerle Çikolata Şöleni</h2>
                        <div class="kategori-gorsel">
                            <img src="~/images/img-39.jpeg" width="250" alt="Dondurulmuş Meyvelerle Çikolata Şöleni">
                        </div>
                        <div class="kategori-urunler">
                            <ul>
                                <li>Yoğun çikolata dolgulu tartın üzerinde dondurulmuş meyve zenginliği.</li>
                                <li>Çilek, ahududu, böğürtlen ve yaban mersini ile her dilimde tazelik.</li>
                                <li>Bu lezzet, hem sunumda hem de tadımda fark yaratır!</li>
              
                            </ul>
                        </div>
                    </article>


                    <article class="sample-card">
                        <h2>Dondurulmuş Meyvelerle Çikolata Keyfi</h2>
                        <div class="kategori-gorsel">
                            <img src="~/images/img-10.jpeg" width="250" alt="Dondurulmuş Meyvelerle Çikolata Keyfi">
                        </div>
                        <div class="kategori-urunler">
                            <ul>
                                <li>Çikolata kremasının üzerine yerleştirilen dondurulmuş meyveler.</li>
                                <li>Böğürtlen, ahududu ve yaban mersini ile tatlılarınıza renk katın.</li>
                                <li>Dondurulmuş gıdalarla profesyonel tatlılar hazırlamak çok kolay!</li>

                            </ul>
                        </div>
                    </article>


                </section>

            </div>
        </div>
    </div>
</section>


