 



    <div id="index" class="capa">
        <span class="ro-text"><img src="~/images/paylasilamayan-lezzet.png"></span>
        <span class="fixed-icon"><a href="#urunler"><img src="~/images/ok.png"></a></span>
    </div>




<section class="section-1">
        <div class="metin-1 animate__animated animate__fadeInDown animate__slow animate__delay-1s">
            <p>SİTEMİZ</p>
            <p>YAPIM</p>
            <p>AŞAMASINDADIR</p>
        </div>

        <div class="kahve-1 animate__animated animate__fadeInUp animate__slow">
            <img src="~/images/ice-berry.png" alt="">
        </div>
        <div class="yaprak-1 animate__animated animate__fadeInDown animate__slow">
            <img src="~/images/tabak-ice.png" alt="">
        </div>
        <div class="pasta-1 animate__animated animate__rotateIn animate__slow">
            <img src="~/images/tabak-resim.png" alt="">
        </div>
        <div class="pasta-2 animate__animated animate__fadeInDown animate__slow">
            <img src="~/images/frozen-food.png" alt="">
        </div>
        <div class="pasta-3 animate__animated animate__fadeInUp animate__slow">
            <img src="~/images/gul-img3.png" alt="">
        </div>
        <div class="pasta-4">
            <img src="~/images/bogurtlen.jpg" alt="">
        </div>
        <div class="pasta-5 animate__animated animate__rotateIn animate__slow">
            <img src="~/images/mygoldenfoodimg.jpeg" alt="">
        </div>
    </section>

<section class="section-2">
    <div class="space-holder">
        <div class="sticky">
            <div class="horizontal-section">
                <section role="feed" class="slide-section">
                    <article id="slide-1" class="slide">
                        <img class="kup" src="~/images/maun-frambuaz-panna-cotta.png">
                        <span class="kup-baslik">PANNA COTTA</span>
                        <span class="kup-icerik">RASPBERRY</span>
                        <span class="kup-icon"><img src="~/images/maun-ok-ikon.png"></span>
                        <div class="kup-derece derece"><span>-40</span></div>
                        <div class="yaprak1 yaprak-img"><img src="~/images/maun-yaprak-1.png"></div>
                        <div class="yaprak2 yaprak-img"><img src="~/images/maun-yaprak-2.png"></div>
                    </article>
                    <article id="slide-2" class="slide">
                        <img class="kup" src="~/images/maun-portakal-panna-cotta.png">
                        <span class="kup-baslik">PANNA COTTA</span>
                        <span class="kup-icerik">ORANGE</span>
                        <span class="kup-icon"><img src="~/images/maun-ok-ikon.png"></span>
                        <div class="kup-derece derece"><span>-40</span></div>
                    </article>
                </section>
            </div>
        </div>
    </div>
</section>

<section class="section-3">
    <div class="metin-2 animate__animated">
        <p>MAUN IS</p>
        <p>NEW FACE OF WARMTH</p>
    </div>
    <div class="catal-bicak animate__animated">
        <img src="~/images/catal-bicak.png" alt="">
    </div>
    <div class="baton-simit-1 animate__animated">
        <img src="~/images/baton-simit-tahta.png" alt="">
    </div>
    <div class="baton-simit-2 animate__animated">
        <img src="~/images/baton-simit.png" alt="">
    </div>
</section>

<section class="section-4">
    <div class="metin-3">
        <p>MOON LİFE</p>
        <p>İCE LİVE</p>
    </div>
    <div class="pasta-1">
        <div class="pasta"><img src="~/images/maun-beyaz-profiterollu-pasta.png" alt=""></div>
        <div class="baslik">
            <p>WHITE</p>
            <p>PROFITEROLE</p>
            <p>CAKE</p>
        </div>
        <div class="pasta-derece">
            <div class="derece"><span>-40</span></div>
        </div>
    </div>
    <div class="pasta-2">
        <div class="pasta"><img src="~/images/maun-frambuazli-cheese-cake.png" alt=""></div>
        <div class="baslik">
            <p>CHEESECAKE</p>
            <p>WITH RASPBERRY</p>
        </div>
        <div class="pasta-derece">
            <div class="derece"><span>-40</span></div>
        </div>
    </div>
    <div class="pasta-3">
        <div class="pasta"><img src="~/images/img17.png" alt=""></div>
        <div class="baslik">
            <p>BERİES</p>
        </div>
        <div class="pasta-derece">
            <div class="derece"><span>-40</span></div>
        </div>
    </div>
    <div class="metin-4">
        <p>LONG-ESTABLISHED</p>
        <p>TRUSTWORTHY</p>
        <p>DELICIOUS</p>
    </div>
</section>

<section id="urunler" class="section-5">
    <div class="space-holder">
        <div class="sticky">
            <div class="horizontal">

                <section role="feed" class="cards">
                    <article class="sample-card">
                        <h2>Bagels</h2>
                        <div class="kategori-gorsel">
                            <img src="~/images/img-1.jpeg" width="250" alt="Bagels">
                        </div>
                        <div class="kategori-urunler">
                            <ul>
                                <li>Plain Stick Bagel</li>
                                <li>Bagel With Seed</li>
                                <li>Poppy Seed Bagel</li>
                                <li>Stick Bagel With Kashkaval Cheese</li>
                                <li>Plain Bagel</li>
                                <li>Cereal Bagel</li>

                                <li><a href="#">See More</a></li>
                            </ul>
                        </div>
                    </article>
                    <article class="sample-card">
                        <h2>Pastries</h2>
                        <div class="kategori-gorsel">
                            <img src="~/images/img-2.jpeg" width="250" alt="Pastries">
                        </div>
                        <div class="kategori-urunler">
                            <ul>
                                <li>Home Style Pastry</li>
                                <li>Gozleme With Spinach & Cheese</li>
                                <li>Rolled Pastry Filled With Spinach</li>
                                <li>Mini Roll Pastry With Spinach</li>
                                <li>Palace Pastry With Spinach</li>
                                <li>Flaky Pastry With Spinach & Cheese</li>

                                <li><a href="#">See More</a></li>
                            </ul>
                        </div>
                    </article>
                    <article class="sample-card">
                        <h2>Traditional Turkish Su Boreks</h2>
                        <div class="kategori-gorsel">
                            <img src="~/images/img-11.jpeg" width="250" alt="Traditional Turkish Su Boreks">
                        </div>
                        <div class="kategori-urunler">
                            <ul>
                                <li>Turkish Su Borek With Mozarella and Jambon</li>
                                <li>Maun Pastry</li>
                                <li>Turkish Su Borek with Minced Meat</li>
                                <li>Turkish Su Borek With Cheese</li>
                                <li>Turkish Su Borek With Mozarella</li>
                                <li>Turkish Su Borek With Mozarella & Minced Meat</li>

                                <li><a href="#">See More</a></li>
                            </ul>
                        </div>
                    </article>
                    <article class="sample-card">
                        <h2>Buns</h2>
                        <div class="kategori-gorsel">
                            <img src="~/images/img-7.jpeg" width="250" alt="Buns">
                        </div>
                        <div class="kategori-urunler">
                            <ul>
                                <li>Bun with Dill & Cheese</li>
                                <li>Bun With Kashkaval Cheese</li>
                                <li>Bun With Potato</li>
                                <li>Bun With Cheese</li>
                                <li>Plain Bun</li>
                                <li>Bun With Vegetable</li>

                                <li><a href="#">See More</a></li>
                            </ul>
                        </div>
                    </article>
                    <article class="sample-card">
                        <h2>Puffy Pastries</h2>
                        <div class="kategori-gorsel">
                            <img src="~/images/img-14.jpeg" width="250" alt="Puffy Pastries">
                        </div>
                        <div class="kategori-urunler">
                            <ul>
                                <li>Savory Bun With Chocolate</li>
                                <li>Twisted Savory Bun With Chocolate</li>
                                <li>Puffy Pastry with Kashkaval Cheese</li>
                                <li>Twisted Savory Bun With Kashkaval Cheese</li>
                                <li>Twisted Savory Bun With Cheese</li>
                                <li>Savory Bun With Olive</li>

                                <li><a href="#">See More</a></li>
                            </ul>
                        </div>
                    </article>
                    <article class="sample-card">
                        <h2>Pizzas</h2>
                        <div class="kategori-gorsel">
                            <img src="~/images/img-7.jpeg" width="250" alt="Pizzas">
                        </div>
                        <div class="kategori-urunler">
                            <ul>
                                <li>Bazlama (Turkish Style Pita Bread)</li>
                                <li>Flatbread for Doner Kebab</li>
                                <li>"Gobit" Bread (Round)</li>
                                <li>Mixed Pizza</li>
                                <li>Turkish Pide With Minced Meat</li>
                                <li>Turkish Pide With Cheese</li>

                                <li><a href="#">See More</a></li>
                            </ul>
                        </div>
                    </article>
                    <article class="sample-card">
                        <h2>Turkish Raviolis</h2>
                        <div class="kategori-gorsel">
                            <img src="~/images/img-8.jpeg" width="250" alt="Turkish Raviolis">
                        </div>
                        <div class="kategori-urunler">
                            <ul>
                                <li>Fried Dumplings</li>
                                <li>Kayseri Style Dumplings For Catering</li>
                                <li>Kayseri Style Dumplings</li>
                                <li>Bundle Dumplings</li>

                                <li><a href="#">See More</a></li>
                            </ul>
                        </div>
                    </article>


                    <article class="sample-card">
                        <h2>Pastas</h2>
                        <div class="kategori-gorsel">
                            <img src="~/images/img-10.jpeg" width="250" alt="Pastas">
                        </div>
                        <div class="kategori-urunler">
                            <ul>
                                <li>Plain Fettucine</li>
                                <li>Plain Linguine</li>
                                <li>Ravioli With 5 Cheese</li>
                                <li>Ravioli With Spinach Catering</li>
                                <li>Ravioli With Eggplant & Mozarella</li>
                                <li>Ravioli With Cheese Catering</li>

                                <li><a href="#">See More</a></li>
                            </ul>
                        </div>
                    </article>


                </section>

            </div>
        </div>
    </div>
</section>


